@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
body{
    background-color: hsla(0, 0%, 100%, 0.75);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.card{
    color: hsl(0, 0%, 95%);
    width: 52rem;
    height: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.sedan{
    background-color: hsl(31, 77%, 52%);
    border-radius: 15px 0px 0px 15px;

    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    gap:2rem;   
}
.suv{
    background-color: hsl(184, 100%, 22%);
    
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
     
}
.luxuary{
    background-color: hsl(179, 100%, 13%);
    padding: 1.5rem;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    
}
img{
    width: 25%;
    height: auto;
}
h2{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: xx-large;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
button{
    padding: 1rem;
    margin: 0px 10px;
    border: none;
    text-transform: capitalize;
    border-radius: 2rem;
}
.sedan-button{
    color: hsl(31, 77%, 52%);
}
.suv-button{
    color: hsl(184, 100%, 22%);
}
.luxuary-button{
    color: hsl(179, 100%, 13%);
}